<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="e5f2cce7-9335-400e-b471-c85e70b2edec"
    Publisher="CN=elizu"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="e5f2cce7-9335-400e-b471-c85e70b2edec" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Library.UI</DisplayName>
    <PublisherDisplayName>elizu</PublisherDisplayName>
    <Logo>Assets\UntitledPin.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Library.UI.App">
      <uap:VisualElements
        DisplayName="Library.UI"
        Description="Library.UI"
        BackgroundColor="transparent"  Square44x44Logo="Assets\UntitledPin.png" Square150x150Logo="Assets\UntitledPin.png">
        <uap:DefaultTile  >
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>